# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    branches:
      - dev
      - main

env:
  TEST_PYTHON_VERSION: 3.9
  TEST_OS: 'ubuntu-22.04'
  SKIP_STREAMING_OS: 'windows-2022'
  SKIP_STREAMING_PYTHON_VERSION: 3.11.0

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-2022, macOS-13]
        python-version: [3.7, 3.8, 3.9, 3.10.5, 3.11.0, 3.12.0, 3.13.0]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installation
        run: |
          python -m pip install --upgrade pip
          pip install .["streaming"]
      - name: Test requirements Installation
        run: |
          python otherfiles/requirements-splitter.py
          pip install --upgrade --upgrade-strategy=only-if-needed -r test-requirements.txt
      - name: Pymilo Core Functionality Tests with pytest
        env:
          COVERAGE_FILE: .coverage.core
        run: |
          python -m pytest . --ignore=./tests/test_ml_streaming --cov=pymilo --cov-report=term --cov-report=xml:coverage_core.xml
      - name: Pymilo Streaming Functionality Tests with pytest
        env:
          COVERAGE_FILE: .coverage.streaming
        run: |
          python -m pytest ./tests/test_ml_streaming --cov=pymilo --cov-report=term --cov-report=xml:coverage_streaming.xml
        if: matrix.python-version != env.SKIP_STREAMING_PYTHON_VERSION || matrix.os != env.SKIP_STREAMING_OS
      - name: Merge coverage files
        run: |
          coverage combine
          coverage xml -o coverage_combined.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
            files: coverage_combined.xml
            fail_ci_if_error: false
        if: matrix.python-version == env.TEST_PYTHON_VERSION && matrix.os == env.TEST_OS
      - name: Vulture, Bandit and Pydocstyle Tests
        run: |
          python -m vulture pymilo/ otherfiles/ setup.py --min-confidence 65 --exclude=__init__.py --sort-by-size
          python -m bandit -r pymilo -s B311
          python -m pydocstyle -v
        if: matrix.python-version == env.TEST_PYTHON_VERSION
      - name: Version check
        run: |
          python otherfiles/version_check.py
        if: matrix.python-version == env.TEST_PYTHON_VERSION
